---
const slug=Astro.params.slug

import { keystoneContext } from '../../keystone/context';

const context = keystoneContext.withSession({
  user: 'astro',
});
const posts = await context.query.Post.findOne({
  where:{id:'clu78uvsu000011q13ikvmh8j'},
  query: 'title id',
});
console.log(posts)
---
<h1>PAGE {slug}</h1>