---
import { keystoneContext } from '../keystone/context';

const context = keystoneContext.withSession({
  user: 'astro',
});
const posts = await context.query.Post.findMany({
  query: 'title id',
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <style>
      body {
        font: 100% system-ui;
      }
      html {
        color-scheme: light dark;
      }
    </style>
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <!-- <p>You browser is {browserName}</p> -->
    <p>Here are a list of Posts for your browser</p>
    <ul>
      {
        posts.map(post => (
          <li>
            <p>{post.title}</p>
          </li>
        ))
      }
    </ul>
  </body>
</html>